# cabal-install
cabal.project.local
cabal.project.local~
dist/
dist-newstyle/

# profiling
*.prof
*.hp

# Development files/directories
vendor/
vendor-bins/
.vscode/
sandbox/

# Executables
/fossa
/fossa-?dev
/release
/fourmolu
/hlint

# Debug output
fossa.debug.json
fossa.debug.json.gz
fossa.telemetry.json
fossa.debug.zip

# Integration Tests
integration-test/artifacts/

# macOs Finder
.DS_Store

# One offs
test/App/Fossa/VSI/DynLinked/testdata/hello_standard*
test/App/Fossa/VSI/DynLinked/testdata/hello_setuid*

# Rust
target/

# Node (used in some tests)
node_modules/

# Include targets in test
!test/reachability/testdata/maven-default/target
!test/reachability/testdata/maven-build-config/dist
