[submodule "test/fixtures/maven"]
	path = test/fixtures/maven
	url = https://github.com/apache/hadoop
[submodule "test/fixtures/sbt"]
	path = test/fixtures/sbt
	url = https://github.com/apache/spark
[submodule "test/fixtures/gradle"]
	path = test/fixtures/gradle
	url = https://github.com/google/iosched
