# cabal-install
cabal.project.local
cabal.project.local~
dist/
dist-newstyle/

# profiling
*.prof
*.hp

# Development files/directories
vendor/
vendor-bins/
.vscode/

# Executables
/fossa
/fossa-?dev
/release
/fourmolu
/hlint

# Debug output
fossa.debug.json
fossa.debug.json.gz
fossa.telemetry.json

# Integration Tests
integration-test/artifacts/

# One offs
test/App/Fossa/VSI/DynLinked/testdata/hello_standard*
test/App/Fossa/VSI/DynLinked/testdata/hello_setuid*

# Rust

target/
