# cabal-install
cabal.project.local
cabal.project.local~
dist/
dist-newstyle/

# profiling
*.prof
*.hp

# Development files/directories
vendor/
vendor-bins/
.vscode/

# Executables
/fossa
/fossa-?dev

# Debug output
fossa.debug.json.gz

# Integration tests
integration-test/artifacts/