version: 2

defaults: &defaults
  environment:
    TEST_RESULTS: /tmp/test-results
    ARTIFACTS: /tmp/artifacts
    WORKSPACE: /tmp/workspace

jobs:
  build:
    <<: *defaults
    working_directory: /go/src/github.com/fossas/fossa-cli
    docker:
      - image: circleci/golang:1
    steps:
      - checkout
      - run:
          name: Make folders
          command: |
            mkdir -p $TEST_RESULTS
            mkdir -p $ARTIFACTS
            mkdir -p $WORKSPACE
      - restore_cache:
          keys:
            - v2-gopkg-cache-{{ checksum "Gopkg.lock" }}
      - run:
          name: Compile CLI
          command: |
            # Invalidate cache for FOSSA CLI binary
            rm -rf /go/pkg/linux_amd64/github.com/fossas/fossa-cli
            rm -f /go/bin/fossa
            # Compile CLI
            make
      - save_cache:
          key: v1-gopkg-cache-{{ checksum "Gopkg.lock" }}
          paths:
            - "/go/bin"
            - "/go/pkg"
            - "/go/src/github.com/fossas/fossa-cli/vendor"
      - run:
          name: Run unit tests
          command: |
            make -s junit-test > $TEST_RESULTS/go-test-report.xml
      - run:
          name: Run FOSSA analysis
          command: |
            fossa analyze --debug > $ARTIFACTS/fossa-analyze-stdout 2> >(tee $ARTIFACTS/fossa-analyze-stderr >&2)
      - run:
          name: Run FOSSA license check
          command: |
            fossa test --debug > $ARTIFACTS/fossa-test-stdout 2> >(tee $ARTIFACTS/fossa-test-stderr >&2)
      - run:
          name: Save artifacts
          command: |
            cp -R $TEST_RESULTS $ARTIFACTS
            cp $(which fossa) $ARTIFACTS
      - run:
          name: Save workspace
          command: |
            cp $(which fossa) $WORKSPACE
      - store_test_results:
          path: /tmp/test-results
      - store_artifacts:
          path: /tmp/artifacts
      - persist_to_workspace:
          root: /tmp/workspace
          paths:
            - fossa
  test:
    <<: *defaults
    working_directory: /home/fossa/go/src/github.com/fossas/fossa-cli
    docker:
      - image: quay.io/fossa/fossa-cli-test:circleci
    steps:
      - checkout
      - run:
          name: Make folders
          command: |
            mkdir -p $TEST_RESULTS
            mkdir -p $ARTIFACTS
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Load workspace
          command: |
            cp $WORKSPACE/fossa $GOPATH/bin/fossa
      - run:
          name: Run integration tests
          command: |
            # Load shell helpers (e.g. sdkman)
            source /home/fossa/.bashrc

            # Run native integration tests
            go test -v ./test/...
            #Run shell based tests
            ./test.sh > $ARTIFACTS/integration-test-stdout 2> >(tee $ARTIFACTS/integration-test-stderr >&2)
      # - store_test_results:
      #     path: /tmp/test-results
      - store_artifacts:
          path: /tmp/artifacts

workflows:
  version: 2
  build-and-test:
    jobs:
      - build
      - test:
          requires:
            - build
