name: Benchmarks
on: [workflow_dispatch]

jobs:
  benchmarks:
    name: benchmarks
    runs-on: ubuntu-latest
    container: fossa/haskell-static-alpine:ghc-9.4.7

    steps:
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable

    - uses: actions/checkout@v3
      with:
        lfs: true

    - name: Ensures git ownership check does not lead to compile error (we run git during compile for version tagging, etc.)
      run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

    # adduser cannot add users to group: https://unix.stackexchange.com/a/397733
    # so we edit /etc/group directly
    - name: Create nixbuild users/group
      run: |
        addgroup nixbld
        adduser -D nixbld-1
        adduser -D nixbld-2
        adduser -D nixbld-3
        sed 's/nixbld:x:\([[:digit:]]*\):$/nixbld:x:\1:nixbld-1,nixbld-2,nixbld-3/' /etc/group > group-changed
        mv group-changed /etc/group

    - name: run our custom nix install script
      run : ./.github/scripts/install-nix.sh
      shell: bash
      env:
        INPUT_NIX_PATH: "nixpkgs=channel:nixos-unstable"
        INPUT_EXTRA_NIX_CONFIG: "build-users-group = nixbld"
        INPUT_INSTALL_URL: ""
        INPUT_INSTALL_OPTIONS: ""

    - name: Debugging information
      run: |
        ghc --version || echo "no ghc"
        cabal --version || echo "no cabal"
        ghcup --version || echo "no ghcup"
        rustc -V || echo "no rustc"
        cargo -V || echo "no cargo"

    - uses: Swatinem/rust-cache@v2

    # Compute cache key and save to a temporary file.
    #
    # We compute the cache key based on the solved install plan instead of just
    # hashing the `.cabal` file, since there are many kinds of changes that will
    # cause `.cabal` to change (e.g. adding new source modules).
    - name: Compute cache key
      id: compute-cache-key
      run: |
        cabal --project-file=cabal.project.ci.linux update
        cabal --project-file=cabal.project.ci.linux build --dry-run
        cat dist-newstyle/cache/plan.json | jq '."install-plan"[]."id"' | sort > /tmp/cabal-cache-key
        echo "Install plan:"
        cat /tmp/cabal-cache-key
        export CABAL_CACHE_KEY=$(sha256sum /tmp/cabal-cache-key | awk '{print $1}')
        echo "Cabal cache key: $CABAL_CACHE_KEY"
        echo "cabal-cache-key=$CABAL_CACHE_KEY" >> $GITHUB_OUTPUT

    # Benchmarks builds at a different optimization level than everything else.
    # I think this means it needs its own cache, it can't rely on the others.
    # Otherwise, the benchmarks need to be built at the same optimization level.
    - uses: actions/cache@v3
      name: Cache cabal store
      with:
        path: ${{ steps.setup-haskell.outputs.cabal-store || '~/.local/state/cabal' }}
        key: ${{ runner.os }}-benchmarks-cabal-cache-${{ steps.compute-cache-key.outputs.cabal-cache-key }}
        restore-keys: |
          ${{ runner.os }}-benchmarks-cabal-cache-
          ${{ runner.os }}-benchmarks-
          ${{ runner.os }}-

    # TODO: Cache dist newstyle

    - name: Build Rust dependencies
      run: cargo build --release

    - name: Update vendored binaries
      run: |
        mkdir vendor-bins
        ./vendor_download.sh
      env:
        GITHUB_TOKEN: ${{ secrets.BASIS_ACCESS_TOKEN }}

    - name: Build
      env:
        RUN_CMD: cabal build benchmarks
      run: |
        $RUN_CMD || $RUN_CMD

    - name: Bench
      run: |
        cabal bench --benchmark-options '+RTS -T'
