on:
  release:
    types: [published]

jobs:
  add-attributions-to-release:
    name: add-attributions-to-release ${{ github.event.release.tag_name }}
    runs-on: ubuntu-latest
    permissions:
      contents: write # release changes require contents write

    steps:
      - uses: actions/checkout@v4
      - name: Install fossa-cli
        run: |
          curl -H 'Cache-Control: no-cache' https://raw.githubusercontent.com/fossas/fossa-cli/master/install-latest.sh | bash

      # since this is only invoked after the release is published,
      # we can safely presume that fossa has ran dependency scan on the commit
      # from 'dependency-scan' job!
      #
      # docs: https://cli.github.com/manual/gh_release_upload
      - name: Persist attributions to release
        run: |
          fossa --format cyclonedx-json attribution > attributions.json
          gh release upload ${{ github.event.release.tag_name }} attributions.json --clobber
        env:
          FOSSA_API_KEY: ${{ secrets.FOSSA_API_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}